html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}


.logo-text{
  margin-right: auto;
  padding-left: 10px;
  color: tomato;
}

nav {
  /* margin: 5px auto 60px !important; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgb(22, 18, 19);
}
.notFound{
  text-align: center;
}

.notFound h1{
  color: tomato;
}
.notFound a{
  text-decoration: underline;
  color: blue;
}

.blob{
  position: absolute;
  
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
