.single{
    padding: 2px 16px;
    background: floralwhite;
    display: block;
    margin: 20px 10px;
    border-left: 10px solid white;
}

.single:hover{
    border-left: 10px solid tomato;
}

.users{
    
}